ul {
  line-height: 35px;
}

ol {
  line-height: 35px;
  list-style: none;
}

img {
  border: aqua ridge 10px;
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-fixed li{
  display: block;
  margin: 5px 40px;
}

.brand-logo {
  margin-left: 10px;
}

.header {
  background: linear-gradient(crimson, transparent 90%), linear-gradient(0deg, #fff, transparent), crimson;
  height: 500px;
  padding-top: 150px;
  text-align: center;
}

.container {
  text-align: center;
}

.intro-content {
  background: linear-gradient(aqua, transparent 90%), linear-gradient(0deg, #fff, transparent), aqua;
  border-top: lightblue ridge 10px;
}

.ending-content {
  background: linear-gradient(gray, transparent 90%), linear-gradient(0deg, #fff, transparent), gray;
  border-top: dimgray ridge 10px;
}

p {
  font-size: 26px;
}

li {
  font-size: 20px;
}